<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="web/css/common.css" />

    <title>일정 관리</title>
</head>

<body>

    <header id="navbar"></header>
    <section class="container-fluid d-flex justify-content-center" id="sectionView">

        <div class="d-flex justify-content-center" id="maincontents">
            <!-- 여기서부터 내용 작성! -->
            <div class="w-50 pt-3" id="calendarBox">
                <div class="row d-flex justify-content-center align-items-center p-3">
                    <div class="col pe-5">
                        <div class="dropdown d-flex w-100 justify-content-center align-items-center">
                            <button class="btn dropdown-toggle btn-lg border-black" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false" name="city1">
                                구장 선택
                            </button>
                            <ul class="dropdown-menu" id='dropField'>
                                <li th:each="field : ${fieldList}">
                                    <button th:value="${field.fieldSeq}" th:text="${field.fieldName}"
                                        class='dropdown-item'></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- 캘린더 & 경기일정 -->
                <div class="row mt-2 p-3">
                    <div class="border border-black rounded-5 p-3">

                        <div class="d-flex justify-content-between">
                            <!-- 캘린더 -->
                            <div class="d-flex flex-column w-75 border-end border-secondary p-3">
                                <div class="row p-3 mb-5">
                                    <div class="col d-flex justify-content-center">
                                        <img class="calendar-nav-btn" id="prevBtn" src="mobile/img/left arrow.svg"
                                            alt="이전 달 버튼"></img>
                                        <div class="year-month"></div>
                                        <img class="calendar-nav-btn" id="nextBtn" src="web/img/right arrow.svg"
                                            alt="다음 달 버튼"></img>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="calendar-days">
                                        <div class="day sun">일</div>
                                        <div class="day">월</div>
                                        <div class="day">화</div>
                                        <div class="day">수</div>
                                        <div class="day">목</div>
                                        <div class="day">금</div>
                                        <div class="day sat">토</div>
                                    </div>
                                    <div class="calendar-dates" id="calendarDates"></div>
                                </div>
                            </div>

                            <!-- 일정  -->
                            <div class="row">
                                <div class="col d-flex flex-column text-center ms-2">
                                    <div class="row rounded-3 m-1 timeList matching" data-bs-toggle="modal"
                                        data-bs-target="#timeModal">
                                        <p class="m-0 p-3">
                                            <img class="me-2 userImg" src="mobile/img/user.svg">
                                            08:00-10:00
                                        </p>
                                    </div>
                                    <div class="row rounded-3 m-1 timeList matching">
                                        <p class="m-0 p-3">
                                            <img class="me-2 teamImg" src="mobile/img/team.svg">10:00-12:00
                                        </p>
                                    </div>
                                    <div class="row rounded-3 m-1 timeList">
                                        <p class="m-0 p-3">12:00-14:00</p>
                                    </div>
                                    <div class="row rounded-3 m-1 timeList">
                                        <p class="m-0 p-3">14:00-16:00</p>
                                    </div>
                                    <div class="row rounded-3 m-1 timeList complete">
                                        <p class="m-0 p-3">16:00-18:00</p>
                                    </div>
                                    <div class="row rounded-3 m-1 timeList complete">
                                        <p class="m-0 p-3">18:00-20:00</p>
                                    </div>
                                    <div class="row rounded-3 m-1 timeList">
                                        <p class="m-0 p-3">20:00-22:00</p>
                                    </div>

                                </div>
                                <div class="d-flex flex-column align-items-end mt-2 mb-2">
                                    <p class="align-text-bottom m-0 me-3" data-bs-toggle="modal"
                                        data-bs-target="#modScheduleModal">일정수정</p>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>

            </div>


            <!-- 시간별 모달 -->
            <div class="modal" id="timeModal" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content align-items-center">
                        <div class="modal-header border-bottom-0 mt-3">
                            <p class="fs-3">승패 결과 입력</p>
                        </div>
                        <div class="modal-body d-flex flex-wrap justify-content-center">
                            <div class="row text-center">
                                <p>2024년 7월 17일 수요일</p>
                                <p>16:00-18:00</p>
                            </div>
                            <div class="row gap-5 flex-nowrap justify-content-center m-3">
                                <div class="form-group text-center w-25">
                                    <label for="loseCount" class="fs-5">A팀</label>
                                    <div class="input-group  mt-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">⚽</span>
                                        </div>
                                        <input type="number" class="form-control w-25" id="aCount" value="3"
                                            aria-label="A팀" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="form-group text-center w-25">
                                    <label for="winCount" class="fs-5">B팀</label>
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2">⚽</span>
                                        </div>
                                        <input type="number" class="form-control" id="bCount" value="5" aria-label="B팀"
                                            aria-describedby="basic-addon2">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer justify-content-center border-top-0">
                            <button type="button" class="btn btn-success" id="updateMemberStatus">완료</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 일정 수정 모달 -->
            <div class="modal" id="modScheduleModal" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content align-items-center">
                        <div class="modal-body mt-4">
                            <p>일정수정</p>
                        </div>
                        <div class="modal-footer justify-content-center border-top-0">
                            <button type="button" class="btn btn-success" id="updateMemberStatus">완료</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <script>
        $("#navbar").load("./common/navbarManager.html");

        let matchingDateList;
        const date = new Date();
        let currentYear = date.getFullYear();
        let currentMonth = date.getMonth();
        let currentDate = date.getDate();

        $("#dropField > li > button").on('click', function () {
            $("button[name=city1]").text($(this).text());
            $("button[name=city1]").val($(this).val());
            const fieldSeq = $(this).val();
            fetch(`/confirmed/dates/${fieldSeq}?month=${parseInt(currentMonth + 1)}&year=${currentYear}`)
                .then(response => response.json())
                .then(data => {
                    if (data.length === 0) {
                        matchingDateList = [];
                        renderCalendar();
                    }
                    else {
                        matchingDateList = data;
                        renderCalendar();
                    }
                })
        })


        // ==========================================캘린더 부분
        // 캘린더 생성
        const calendarDates = document.querySelector("#calendarDates");
        const prevBtn = document.querySelector("#prevBtn");
        const nextBtn = document.querySelector("#nextBtn");

        function renderCalendar() {
            $('.year-month').text(`${currentYear}년 ${currentMonth + 1}월`);

            const firstDayOfMonth = new Date(currentYear, currentMonth, 1); // 첫번째 날 불러오기
            const daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();   // 날짜수 불러오기

            const startDayOfWeek = firstDayOfMonth.getDay();

            calendarDates.innerHTML = ""; // 일자 비우기

            // 빈 날짜(이전 달)
            for (let i = 0; i < startDayOfWeek; i++) {
                const emptyDate = document.createElement("div");
                emptyDate.classList.add("date", "empty");
                calendarDates.appendChild(emptyDate);
            }

            // 현재 달의 날짜
            for (let i = 1; i <= daysInMonth; i++) {

                // date-wrapper
                const dateWrapperElement = document.createElement("div");
                dateWrapperElement.classList.add("date-wrapper");

                // 날짜
                const dateElement = document.createElement("div");
                dateElement.classList.add("date");
                dateElement.setAttribute('id', currentYear + "-" + parseInt(currentMonth + 1) + "-" + i);
                dateElement.textContent = i;
                if (i == currentDate && date.getMonth() == currentMonth)
                    dateElement.classList.add("today");

                // 매칭 여부
                const matchingDateElement = document.createElement("div");
                matchingDateElement.classList.add("isMatching");

                // 매칭 정보에 따라 다른 클래스 지정
                if(matchingDateList.length == 0){
                    matchingDateElement.classList.remove("cal-matching-status-3");
                }

                for (let dateNum = 0; dateNum < matchingDateList.length; dateNum++) {
                    const tmpMatchingYear = new Date(matchingDateList[dateNum]).getFullYear();
                    const tmpMatchingMonth = new Date(matchingDateList[dateNum]).getMonth() + 1;
                    const tmpMatchingDate = new Date(matchingDateList[dateNum]).getDate();

                    if (currentYear == tmpMatchingYear && tmpMatchingMonth == parseInt(currentMonth + 1) && tmpMatchingDate == i) {
                        matchingDateElement.classList.add("cal-matching-status-3")
                    }

                }
                dateWrapperElement.appendChild(matchingDateElement);
                dateWrapperElement.appendChild(dateElement);
                calendarDates.appendChild(dateWrapperElement);
            }
        }

        // 이전 달 버튼 클릭 시
        prevBtn.addEventListener("click", () => {
            currentMonth--;
            if (currentMonth < 0) {
                currentMonth = 11;
                currentYear--;
            }
            const fieldSeq = $("button[name=city1]").val();
            fetch(`/confirmed/dates/${fieldSeq}?month=${parseInt(currentMonth + 1)}&year=${currentYear}`)
                .then(response => response.json())
                .then(data => {
                    if (data.length === 0) {
                        matchingDateList = [];
                        renderCalendar();
                    }
                    else {
                        console.log(data);
                        matchingDateList = data;
                        renderCalendar();
                    }
                })
        });

        // 다음 달 버튼 클릭 시
        nextBtn.addEventListener("click", () => {
            currentMonth++;
            if (currentMonth > 11) {
                currentMonth = 0;
                currentYear++;
            }
            const fieldSeq = $("button[name=city1]").val();
            fetch(`/confirmed/dates/${fieldSeq}?month=${parseInt(currentMonth + 1)}&year=${currentYear}`)
                .then(response => response.json())
                .then(data => {
                    if (data.length === 0) {
                        matchingDateList = [];
                        renderCalendar();
                    }
                    else {
                        console.log(data);
                        matchingDateList = data;
                        renderCalendar();
                    }
                })
        });

        // 날짜 클릭 시
        $(".calendar-dates").on("click", ".date-wrapper", function () {
            $('.click-date').removeClass('click-date');
            $(this).find('.date').addClass('click-date'); // find -> 자식 요소 찾기

            // 클릭한 날짜 불러오기
            console.log($(this).find('.date').attr("id"));
            var date = $(this).find('.date').attr("id");
            var fieldSeq = $("button[name=city1]").val();
            fetch(`/date/${date}/field/${fieldSeq}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const dataSet = new Set(data);
                console.log(dataSet);
                for(const matching of dataSet){
                    if(8 === matching.matchingTime){
                        console.log("yes");
                    }
                    else if(8 != matching.matchingTime){
                        console.log("no");
                    }
                }
            })
        });



    </script>
</body>

</html>