
#container{
    justify-content: center;
}

/* 버튼 공통 */
.btn{
    border-radius: 20px;
    border-color: transparent;
    padding: 0.2rem 0.7rem;
}


/* 비밀번호 확인 */
#edit-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
}

#check-pw-wrapper{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 0.5rem;
}

#input-pw{
    width: 15rem;
    height: 2rem;

    background: #F8FAFB;
    border-radius: 5px;
    border-color: transparent;
}

#input-pw:focus{
    outline: none;
    /* outline: 1.5px solid #77b687; */
}

#check-pw-btn{
    color: #FFFFFF;
    background: #73A772;
}




/* 수정 폼 */

#editinfo-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
}

.edit-content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.edit-input{
    width: 10rem;
    height: 2rem;

    background: #F8FAFB;
    border-radius: 5px;
    border-color: transparent;
}

.edit-input:focus{
    outline: none;
    /* outline: 1.5px solid #77b687; */
}

.non-edit{
    width: 10rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#btn-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    margin-top: 1rem;
}

#edit-pw-btn{
    background: #FFFFFF;
    border: 1.5px solid #DBDBDB;
}

#withdraw-btn{
    width: 5.3rem;
    background: #FFFFFF;
    border: 1.5px solid #DBDBDB;
}

#my-info-edit-btn{
    width: 5rem;
    color: #FFFFFF;
    background: #73A772;
}


/* 비밀번호 수정 */

.input-pw{
    width: 15rem;
    height: 2rem;

    background: #F8FAFB;
    border-radius: 5px;
    border-color: transparent;
}

.input-title{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.edit-pw-notice{
    font-weight: 300;
    font-size: 0.8rem;
    color: #FF7D7D;
}

#edit-pw-edit-btn,
#check-id-email-btn{
    color: #FFFFFF;
    background: #73A772;
}

/* 아이디 이메일 확인 */
.check-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 0.5rem;
}





/* 부트스트랩 속성 변경 */

.modal-header {
    border-bottom: none;
    padding: 1.3rem 1.3rem;
  }
  
  .modal-footer {
    justify-content: center;
    border-top: none;
    padding: 0 1.3rem 1.3rem 1.3rem;
  }
  
  .btn-close {
    width: 0.1rem;
    height: 0.1rem;
    background-size: 0.8rem;
  }
  
  .modal-dialog-centered {
    justify-content: center;
  }
  
  .modal-content {
    width: 90%;
    border-radius: 1rem;
  }
  /* 공통 */
  
  .modal-title {
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
  }
  


  /*모달 내  */

  #withdrawModal-1-body-wrapper{

  }

  .modal-body-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  #withdrawModal-1-body-wrapper >span {

  }
  #withdrawModal-btn{
    background: #EBEBEB;
  }