<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>등록된 구장 리스트</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/addedFieldList.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <!-- 모바일 컨테이너 -->
    <div id="mobile-container">
        <!-- 헤더 -->
        <header></header>
        <!-- 컨텐츠 컨테이너 -->
        <div id="container">
            <div id="content-header">
                <div id="filter-container">
                    <img id="filter" src="../img/filter.svg">
                    <div id="filter-text">지역</div>
                </div>
                <div id="search-container">
                    <input id="search-keyword" placeholder="검색어를 입력하세요">
                    <img id="search" src="../img/search.svg">
                </div>
            </div>
            <div id="list-container">
                <div class="content-box">
                    <div class="content-text">
                        <div class="content-title">신정 FC 화정 구장</div>
                        <div class="content-address">서울 강서구 화곡동 산 199</div>
                        <div class="content-info">샤워실 주차장 풋살화 대여 음료판매 풋살볼 대여</div>
                    </div>
                    <img src="../img/구장 사진.svg">
                </div>
                <div class="line-bottom"></div>
                <div class="content-box">
                    <div class="content-text">
                        <div class="content-title">신정 FC 화정 구장</div>
                        <div class="content-address">서울 강서구 화곡동 산 199</div>
                        <div class="content-info">샤워실 주차장 풋살화 대여 음료판매 풋살볼 대여</div>
                    </div>
                    <img src="../img/구장 사진.svg">
                </div>
                <div class="line-bottom"></div>
                <div class="content-box">
                    <div class="content-text">
                        <div class="content-title">신정 FC 화정 구장</div>
                        <div class="content-address">서울 강서구 화곡동 산 199</div>
                        <div class="content-info">샤워실 주차장 풋살화 대여 음료판매 풋살볼 대여</div>
                    </div>
                    <img src="../img/구장 사진.svg">
                </div>
                <div class="line-bottom"></div>
                <div class="content-box">
                    <div class="content-text">
                        <div class="content-title">신정 FC 화정 구장</div>
                        <div class="content-address">서울 강서구 화곡동 산 199</div>
                        <div class="content-info">샤워실 주차장 풋살화 대여 음료판매 풋살볼 대여</div>
                    </div>
                    <img src="../img/구장 사진.svg">
                </div>
                <div class="line-bottom"></div>
                <div class="content-box">
                    <div class="content-text">
                        <div class="content-title">신정 FC 화정 구장</div>
                        <div class="content-address">서울 강서구 화곡동 산 199</div>
                        <div class="content-info">샤워실 주차장 풋살화 대여 음료판매 풋살볼 대여</div>
                    </div>
                    <img src="../img/구장 사진.svg">
                </div>
                <div class="line-bottom"></div>
                <div class="content-box">
                    <div class="content-text">
                        <div class="content-title">신정 FC 화정 구장</div>
                        <div class="content-address">서울 강서구 화곡동 산 199</div>
                        <div class="content-info">샤워실 주차장 풋살화 대여 음료판매 풋살볼 대여</div>
                    </div>
                    <img src="../img/구장 사진.svg">
                </div>
                <div class="line-bottom"></div>
                <div class="content-box">
                    <div class="content-text">
                        <div class="content-title">신정 FC 화정 구장</div>
                        <div class="content-address">서울 강서구 화곡동 산 199</div>
                        <div class="content-info">샤워실 주차장 풋살화 대여 음료판매 풋살볼 대여</div>
                    </div>
                    <img src="../img/구장 사진.svg">
                </div>
                <div class="line-bottom"></div>
                <div class="content-box">
                    <div class="content-text">
                        <div class="content-title">신정 FC 화정 구장</div>
                        <div class="content-address">서울 강서구 화곡동 산 199</div>
                        <div class="content-info">샤워실 주차장 풋살화 대여 음료판매 풋살볼 대여</div>
                    </div>
                    <img src="../img/구장 사진.svg">
                </div>
                <div class="line-bottom"></div>
                <div class="content-box">
                    <div class="content-text">
                        <div class="content-title">신정 FC 화정 구장</div>
                        <div class="content-address">서울 강서구 화곡동 산 199</div>
                        <div class="content-info">샤워실 주차장 풋살화 대여 음료판매 풋살볼 대여</div>
                    </div>
                    <img src="../img/구장 사진.svg">
                </div>
                <div class="line-bottom"></div>

            </div>
            <div id="modal-location">
                <div id="top-location">
                    <div id="text-modal-top">지역</div>
                    <img id="close" src="../img/Close.svg">
                </div>
                <div id="location-list">
                    <div class="location-line">
                        <input type="radio" id="서울" value="서울" name="location"><label for="서울">서울</label>
                        <input type="radio" id="경기" value="경기" name="location"><label for="경기">경기</label>
                        <input type="radio" id="인천" value="인천" name="location"><label for="인천">인천</label>
                        <input type="radio" id="부산" value="부산" name="location"><label for="부산">부산</label>
                        <input type="radio" id="대전" value="대전" name="location"><label for="대전">대전</label>
                    </div>
                    <div class="location-line">
                        <input type="radio" id="대구" value="대구" name="location"><label for="대구">대구</label>
                        <input type="radio" id="울산" value="울산" name="location"><label for="울산">울산</label>
                        <input type="radio" id="세종" value="세종" name="location"><label for="세종">세종</label>
                        <input type="radio" id="광주" value="광주" name="location"><label for="광주">광주</label>
                        <input type="radio" id="강원" value="강원" name="location"><label for="강원">강원</label>
                    </div>
                    <div class="location-line">
                        <input type="radio" id="충북" value="충북" name="location"><label for="충북">충북</label>
                        <input type="radio" id="충남" value="충남" name="location"><label for="충남">충남</label>
                        <input type="radio" id="경북" value="경북" name="location"><label for="경북">경북</label>
                        <input type="radio" id="경남" value="경남" name="location"><label for="경남">경남</label>
                        <input type="radio" id="제주" value="제주" name="location"><label for="제주">제주</label>
                    </div>
                </div>
                <hr>
                <div id="gu-list">
                    <div class="gu-line">
                        <input type="radio" id="강남구" value="강남구" name="gu"><label for="강남구">강남구</label>
                        <input type="radio" id="강동구" value="강동구" name="gu"><label for="강동구">강동구</label>
                        <input type="radio" id="강북구" value="강북구" name="gu"><label for="강북구">강북구</label>
                        <input type="radio" id="강서구" value="강서구" name="gu"><label for="강서구">강서구</label>
                    </div>
                    <div class="gu-line">
                        <input type="radio" id="관악구" value="관악구" name="gu"><label for="관악구">관악구</label>
                        <input type="radio" id="광진구" value="광진구" name="gu"><label for="광진구">광진구</label>
                        <input type="radio" id="구로구" value="구로구" name="gu"><label for="구로구">구로구</label>
                        <input type="radio" id="금천구" value="금천구" name="gu"><label for="금천구">금천구</label>
                    </div>
                    <div class="gu-line">
                        <input type="radio" id="노원구" value="노원구" name="gu"><label for="노원구">노원구</label>
                        <input type="radio" id="도봉구" value="도봉구" name="gu"><label for="도봉구">도봉구</label>
                        <input type="radio" id="동대문구" value="동대문구" name="gu"><label for="동대문구">동대문구</label>
                        <input type="radio" id="동작구" value="동작구" name="gu"><label for="동작구">동작구</label>
                    </div>
                    <div id="submit">완료</div>
                </div>
            </div>
        </div>

    </div>

    <script>
        // header, nav 내용 불러오기
        $(document).ready(function () {
            $('header').load('./common/header_back.html', function () { // 뒤로가기 필요한 페이지는 header_back, 아닌 페이지는 header 사용해주세욤
                $('#page-name').text('구장'); // 해당 페이지 이름 넣어주세욤 ex) 마이페이지
                $('#user-tier').text('A'); // 나중에 세션에서 usertier 구해서 넣기
            });
        });

        $(".content-box").on("click", function () {
            alert("구장 상세 정보 페이지로 이동");
        })

        $("#search").on("click", function () {
            alert($("#search-keyword").val());
        })

        $("#filter-container").on("click", function () {
            $("#modal-location").css("display", "block");
        })

        $("#close").on("click", function () {
            $("#modal-location").css("display", "none");
        })

        $("#submit").on("click", function () {
            var location = $("input[name=location]:checked").val();
            var gu = $("input[name=gu]:checked").val();

            alert(location + " " + gu);
            $("#modal-location").css("display", "none");
        })
    </script>
</body>

</html>