<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구장 상세 정보</title>
    <link rel="stylesheet" href="/mobile/css/common.css">
    <link rel="stylesheet" href="/mobile/css/addedFieldInfo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <!-- 모바일 컨테이너 -->
    <div id="mobile-container">
        <!-- 헤더 -->
        <header></header>
         <!-- 컨텐츠 컨테이너 -->
        <div id="container">
            <img id="img-field" th:src="@{'../upload/img/' + ${addedFieldInfo.fieldImg}}">
            <div id="title-container">
                <div th:text="${addedFieldInfo.fieldName}"></div>
                <div th:text="${addedFieldInfo.fieldAddress} + ' ' + ${addedFieldInfo.fieldAddressDetail}">서울 강서구 화곡동 산 199</div>
            </div>
            <hr>
            <div id="info-container">
                <div>구장시설</div>
                <div id="info-list">
                  <button class="showerTF" disabled="true" th:value="${addedFieldInfo.showerRoom}">샤워실</button>
		          <button class="parkTF" disabled="true" th:value="${addedFieldInfo.parking}">주차장</button>
 		       	  <button class="shoesTF" disabled="true" th:value="${addedFieldInfo.rentShoes}">풋살화 대여</button><br>
        		  <button class="drinkTF mt-1" disabled="true" th:value="${addedFieldInfo.sellDrink}">음료 판매</button>
       			  <button class="ballTF" disabled="true" th:value="${addedFieldInfo.rentBall}">풋살공 대여</button>

                </div>
            </div>
            <hr>
            <div id="content-container">
                <div>소개글</div>
                <ul id="content" th:text="${addedFieldInfo.fieldContent}">

                </ul>
            </div>
        </div>
    </div>
    
    <script>
    // header, nav 내용 불러오기
    var userTier = "[[${session.loginUser.getUserTier}]]";
    $(document).ready(function(){
        $('header').load('/common/header_back.html', function(){ // 뒤로가기 필요한 페이지는 header_back, 아닌 페이지는 header 사용해주세욤
            $('#page-name').text('상세 정보'); // 해당 페이지 이름 넣어주세욤 ex) 마이페이지
            $('#user-tier').text(userTier); // 나중에 세션에서 usertier 구해서 넣기
        });

        var text = `찾아가는 길: 수인분당선 인하대역 7번출구 홈플러스 인하점 4층(E/V이용 가능)
                    차량: 차량 출입구로 입장해서 4층에 주차
                    도보: 차량 출입구로 걸어서 올라오거나, 정문을 바라보고 건물 우측에 있는 직원 출입구로 입장
                    주차: 현장 사무실에서 직접 등록 (3시간 적용)
                    흡연: 지정된 흡연 구역에서만 흡연 (흡연 지정 구역이 아직 별도로 없어서 구장 출입문 앞 벽쪽에서 피시고 담배꽁초는 쓰레기통에 버려주시면 됩니다) *흡연 후 담배꽁초 불씨는 털어서 꼭 쓰레기통에 버려주세요.
                    대여/판매: 풋살화 대여: 260(3), 270(3), 280(3), 3,000원(안내데스크에서 신분증 제출 후 대여, 경기 종료 후, 반납 및 신분증 수령 (구장관리자 없을경우:대여 후 현장에 나와있는 안내판 계좌번호로 3천원 입금))
                    평일 야간, 주말 매치 참여 시 안내데스크에서 붙이는 핫팩 제공
                    화장실: 1층 화장실 이용(구장 인근에서 노상방뇨 적발 시 퇴장 조치)`;
        var content = text.split("\n");
        var str = "";
        for(i=0; i<content.length; i++){
            str += "<li>" + content[i] + "</li>";
        }

        $("#content").html(str);
    });
    
    
    
    
    
    
    window.onload = function(){
  var ballTF = document.querySelector('.ballTF');
  var parkTF = document.querySelector('.parkTF');
  var drinkTF = document.querySelector('.drinkTF');
  var shoesTF = document.querySelector('.shoesTF');
  var showerTF = document.querySelector('.showerTF');

  let ballYN = ballTF.value;
  let parkYN = parkTF.value;
  let drinkYN = drinkTF.value;
  let showerYN = showerTF.value;
  let shoesYN = shoesTF.value;




  if (ballYN == 'true') {
  	console.log('ballYN' + ballYN)
    $('.ballTF').css('background-color', '#73A772');
    $('.ballTF').css('border-radius', '#73A772');
  } 
  if (drinkYN == 'true') {
    console.log('drinkYN' + drinkYN)
    $('.drinkTF').css('background-color', '#73A772');
    $('.drinkTF').css('border-radius', '#73A772');
  } 
  if (shoesYN == 'true') {
    console.log('shoesYN' + shoesYN)    
    $('.shoesTF').css('background-color', '#73A772');
    $('.shoesTF').css('border-radius', '#73A772');
  } 
  if (showerYN == 'true') {
    console.log('showerYN' + showerYN)
    $('.showerTF').css('background-color', '#73A772');
    $('.showerTF').css('border-radius', '#73A772');  
  } 
  if (parkYN == 'true') {
    console.log('parkYN' + parkYN)
    $('.parkTF').css('background-color', '#73A772');
    $('.parkTF').css('border-radius', '#73A772');
  } 
      
}

    
    
    
    
    
    
    
    </script>
</body>
</html>