<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/applyList.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <!-- 모바일 컨테이너 -->
    <div id="mobile-container">
        <!-- 헤더 -->
        <header></header>
        <!-- 컨텐츠 컨테이너 -->
        <div id="container">
            <div id="title-container">
                <div>닉네임</div>
                <div id="right-container">
                    <div>나이/성별</div>
                    <div>등급</div>
                </div>
            </div>
            <div class="box-container">
                <div class="nickname-container">
                    <div>닉네임</div>
                    <div>rj7568@naver.com</div>
                </div>
                <div>만19세/남</div>
                <div>A</div>
                <div class="img-container">
                    <img src="../img/Checked.svg">
                    <img src="../img/Close_red.svg">
                </div>
            </div>
            <div class="box-container">
                <div class="nickname-container">
                    <div>닉네임</div>
                    <div>rj7568@naver.com</div>
                </div>
                <div>만19세/남</div>
                <div>A</div>
                <div class="img-container">
                    <img src="../img/Checked.svg">
                    <img src="../img/Close_red.svg">
                </div>
            </div>
            <div class="box-container">
                <div class="nickname-container">
                    <div>닉네임</div>
                    <div>rj7568@naver.com</div>
                </div>
                <div>만19세/남</div>
                <div>A</div>
                <div class="img-container">
                    <img src="../img/Checked.svg">
                    <img src="../img/Close_red.svg">
                </div>
            </div>
            <div class="box-container">
                <div class="nickname-container">
                    <div>닉네임</div>
                    <div>rj7568@naver.com</div>
                </div>
                <div>만19세/남</div>
                <div>A</div>
                <div class="img-container">
                    <img src="../img/Checked.svg">
                    <img src="../img/Close_red.svg">
                </div>
            </div>
            <div class="box-container">
                <div class="nickname-container">
                    <div>닉네임</div>
                    <div>rj7568@naver.com</div>
                </div>
                <div>만19세/남</div>
                <div>A</div>
                <div class="img-container">
                    <img src="../img/Checked.svg">
                    <img src="../img/Close_red.svg">
                </div>
            </div>
            <div class="box-container">
                <div class="nickname-container">
                    <div>닉네임</div>
                    <div>rj7568@naver.com</div>
                </div>
                <div>만19세/남</div>
                <div>A</div>
                <div class="img-container">
                    <img src="../img/Checked.svg">
                    <img src="../img/Close_red.svg">
                </div>
            </div>
            <div class="box-container">
                <div class="nickname-container">
                    <div>닉네임</div>
                    <div>rj7568@naver.com</div>
                </div>
                <div>만19세/남</div>
                <div>A</div>
                <div class="img-container">
                    <img src="../img/Checked.svg">
                    <img src="../img/Close_red.svg">
                </div>
            </div>
            <div class="box-container">
                <div class="nickname-container">
                    <div>닉네임</div>
                    <div>rj7568@naver.com</div>
                </div>
                <div>만19세/남</div>
                <div>A</div>
                <div class="img-container">
                    <img src="../img/Checked.svg">
                    <img src="../img/Close_red.svg">
                </div>
            </div>
            <div class="box-container">
                <div class="nickname-container">
                    <div>닉네임</div>
                    <div>rj7568@naver.com</div>
                </div>
                <div>만19세/남</div>
                <div>A</div>
                <div class="img-container">
                    <img src="../img/Checked.svg">
                    <img src="../img/Close_red.svg">
                </div>
            </div>
            <div class="box-container">
                <div class="nickname-container">
                    <div>닉네임</div>
                    <div>rj7568@naver.com</div>
                </div>
                <div>만19세/남</div>
                <div>A</div>
                <div class="img-container">
                    <img id="approval" src="../img/Checked.svg">
                    <img id="refuse" src="../img/Close_red.svg">
                </div>
            </div>
            <div id="modal-approval">

            </div>
            <div id="modal-refuse">

            </div>
            <button>모집 마감하기</button>
        </div>

        <!-- 하단 메뉴바 -->
        <nav></nav>
    </div>

    <script>
        // header, nav 내용 불러오기
        $(document).ready(function () {
            $('header').load('./common/header_back.html', function () { // 뒤로가기 필요한 페이지는 header_back, 아닌 페이지는 header 사용해주세욤
                $('#page-name').text('신청 리스트'); // 해당 페이지 이름 넣어주세욤 ex) 마이페이지
                $('#user-tier').text('A'); // 나중에 세션에서 usertier 구해서 넣기
            });
            $('nav').load('./common/nav.html');
        });

        $("#approval").on("click", function(){
            alert("")
        })

    </script>
</body>

</html>