<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/team.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    /* 메인 컬러 color: #73A772; // 녹색 */
  </head>
  <body>
    <!-- 모바일 컨테이너 -->
    <div id="mobile-container">
      <!-- 헤더 -->
      <header></header>
      <!-- 컨텐츠 컨테이너 -->
      <div id="container">
        <div class="teamRankApply">
          <ul id="teamPageButton">
            <li>
              <button id="teamRank" class="button">전체 팀 순위</button>
            </li>
            <li>
              <button id="teamApply" class="button">가입 가능 팀</button>
            </li>
            <li>
              <button id="teamApplied" class="button">가입 신청 목록</button>
            </li>
          </ul>
        </div>
        <div class="searchTeam">
          <input type="text" id="searchTeamText" />
          <button type="button" id="searchTeamButton">
            <img src="../img/search.svg">
          </button>
        </div>
        <table id="teamTableTitle">
          <tr>
            <th></th>
            <th></th>
            <th>경기</th>
            <th>승리</th>
            <th>승률</th>
            <th>등급</th>
            <th>점수</th>
          </tr>
        </table>
        <hr />
        <table id="teamTableRank">
          <tr>
            <td id="rank" style="width: 1rem">1</td>
            <td id="team-name" style="width: 4rem">지존풋살</td>
            <td>50</td>
            <td>50</td>
            <td>100%</td>
            <td>A</td>
            <td id="score">820</td>
          </tr>
          <tr>
            <td id="rank" style="width: 1rem">2</td>
            <td id="team-name" style="width: 4rem">엄준식</td>
            <td>100</td>
            <td>70</td>
            <td>70%</td>
            <td>A</td>
            <td id="score">810</td>
          </tr>
          <tr>
            <td id="rank" style="width: 1rem">3</td>
            <td id="team-name" style="width: 4rem">레드</td>
            <td>100</td>
            <td>50</td>
            <td>50%</td>
            <td>A</td>
            <td id="score">770</td>
          </tr>
          <tr>
            <td id="rank" style="width: 1rem">4</td>
            <td id="team-name" style="width: 4rem">크로아</td>
            <td>40</td>
            <td>40</td>
            <td>100%</td>
            <td>A</td>
            <td id="score">720</td>
          </tr>
        </table>
      </div>
      <!-- 하단 메뉴바 -->
      <nav></nav>
    </div>

    <script>
      // 전체 팀 순위, 가입 가능 팀, 가입 신청 목록 버튼 활성화
      $(".button")
        .each(function (index) {
          $(this).attr("button-index", index);
        })
        .click(function () {
          /*클릭된 <div>의 button-index 값을 index 변수에 할당한다.*/
          var index = $(this).attr("button-index");
          /*클릭한 <div>에  clicked_button 클래스 추가*/
          $(".button[button-index=" + index + "]").addClass("clicked_button");
          /*그 외 <div>는  clicked_button 클래스 삭제*/
          $(".button[button-index!=" + index + "]").removeClass(
            "clicked_button"
          );
        });

      // header, nav 내용 불러오기
      $(document).ready(function () {
        $("header").load("./common/header_back.html", function () {
          // 뒤로가기 필요한 페이지는 header_back, 아닌 페이지는 header 사용해주세욤
          $("#page-name").text("팀"); // 해당 페이지 이름 넣어주세욤 ex) 마이페이지
          $("#user-tier").text("B"); // 나중에 세션에서 usertier 구해서 넣기
        });
        $("nav").load("./common/nav.html");
      });

      $("#searchTeamButton").on("click", function () {
        alert("팀 검색");
      });

      document.getElementById("searchTeamText").value = "검색어를 입력하세요";
    </script>
  </body>
</html>
