<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/consent_detail1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <!-- 모바일 컨테이너 -->
    <div id="mobile-container">
        <!-- 헤더 -->
        <header></header>
        <!-- 컨텐츠 컨테이너 -->
        <div id="container">
            <div id="content"></div>
        </div>
    </div>

    <script>
        // header, nav 내용 불러오기
        $(document).ready(function () {
            $('header').load('./common/header_back_no_login.html', function () { // 뒤로가기 필요한 페이지는 header_back, 아닌 페이지는 header 사용해주세욤
                $('#page-name').text('이용약관');
            });
        });

        var text = `풋살 매칭 플랫폼을  이용해 주셔서 감사합니다. 본 약관은 다양한 풋살 매칭 플랫폼의 이용과 관련하여 서비스를 제공하는 B조와 이를 이용하는 풋살 매칭 플랫폼 회원의 관계를 설명하며, 아울러 여러분의 풋살 매칭 플랫폼 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
                    풋살 매칭 플랫폼 회원으로 가입하실 경우 여러분은 본 약관 및 관련 운영 정책을 확인하거나 동의하게 되므로, 잠시 시간을 내시어 주의 깊게 살펴봐 주시기 바랍니다.

                    풋살, 이제 더 쉽게!
                    풋살 매칭 플랫폼은 매칭 시스템을 통해 팀원 찾기에 대한 번거로움 줄여줍니다. 여러분은 PC, 휴대폰 등 인터넷 이용이 가능한 각종 단말기를 통해 풋살 매칭 플랫폼을 자유롭게 이용하실 수 있습니다. 풋살 매칭 플랫폼은 기본적으로 여러분 모두에게 동일한 내용의 서비스를 제공합니다. 다만, 풋살 경기 중 비인간적인 행위를 지속하여 신고가 누적된 경우, 매칭 이용이 제한될 수 있습니다. 풋살 매칭을 하고 결제를 한 후 환불을 할 경우, 환불 수수료(50%)가 나갈 수 있습니다.

                    회원가입을 하시면 풋살 매칭 플랫폼을 이용할 수 있습니다.
                    여러분은 본 약관을 읽고 동의하신 후 회원 가입을 신청하실 수 있으며, 풋살 매칭 플랫폼은 이에 대한 승낙을 통해 회원 가입 절차를 완료하고 여러분께 풋살 매칭 플랫폼 이용 계정을 부여합니다. 계정이란 회원이 풋살 매칭 플랫폼에 로그인한 이후 이용하는 각종 서비스 이용 이력을 회원 별로 관리하기 위해 설정한 회원 식별 단위를 말합니다.

                    여러분의 개인정보를 소중히 보호합니다.
                    풋살 매칭 플랫폼은 서비스의 원활한 제공을 위하여 회원이 동의한 목적과 범위 내에서만 개인정보를 수집.이용하며, 개인정보 보호 관련 법령에 따라 안전하게 관리합니다. 풋살 매칭 플랫폼은 여러분이 일정 기간(3년) 동안 서비스 이용 기록이 없는 경우와 회원 탈뢰를 하실 경우, 여러분의 정보를 파기합니다.

                    매너있게 풋살을 즐겨주세요.
                    풋살은 단순한 운동 이상입니다. 팀워크, 스포츠맨십, 그리고 서로에 대한 존중을 배우고 실천할 수 있는 소중한 경험입니다. 즐거운 풋살 경험을 위해, 다음과 같은 매너를 함께 지켜주세요.

                    1. 서로 존중하는 마음가짐
                    공정하게 경기를 하고, 승패에 겸손한 태도를 보여주세요.
                    반칙 행위를 하지 않고, 안전한 플레이를 지향해주세요.
                    시간 약속은 꼭 지켜주세요.

                    2. 안전을 위한 노력
                    풋살화, 무릎보호대 등 안전 장비를 착용하세요.
                    주변 상황을 항상 주의하고, 위험한 상황을 예측하여 사고를 방지하세요.
                    과도하게 공격적이거나 위험한 플레이는 피하세요.

                    3. 깨끗한 경기 환경 조성
                    경기 중 발생하는 쓰레기는 지정된 장소에 버려주세요.
                    경기 종료 후에는 경기장을 깨끗하게 정리해주세요.
                    과도한 소음을 줄이고, 주변 환경을 위하는 태도를 보여주세요.

                    언제든지 풋살 매칭 플랫폼 이용계약을 해지하실 수 있습니다.
                    풋살 매칭 플랫폼에게는 참 안타까운 일입니다만, 회원은 언제든지 풋살 매칭 플랫폼 이용계약 해지를 신청하여 회원에서 탈퇴할 수 있으며, 이 경우 풋살 매칭 플랫폼은 관련 법령 등이 정하는 바에 따라 이를 지체 없이 처리하겠습니다.
                    풋살 매칭 플랫폼 이용계약이 해지되면, 관련 법령 및 개인정보처리방침에 따라 해당 회원 계정에 부속된 정보 일체를 포함한 회원의 모든 데이터는 소멸됨과 동시에 복구할 수 없게 됩니다. 경기 일정이 잡혀있는 경우 탈퇴를 할 시 결제된 금액을 돌려받지 못할 수 있으니 확인 후 탈퇴하시기 바랍니다.
                    `;
        var content = text.split("\n");
        var str = "";
        for (i = 0; i < content.length; i++) {
            str += "<div>" + content[i] + "</div><br>";
        }

        $("#content").html(str);
    </script>
</body>

</html>