<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>

<body>
    <div class="flex-column-center" id="container">
        <div class="text" id="text-id">아이디</div>
        <input id="id">
        <div class="text" id="text-pw">비밀번호</div>
        <input type="password" id="pw">
        <button>로그인</button>
        <div class="flex-center" id="or-container">
            <hr>
            <span id="or">or</span>
            <hr>
        </div>
        <div class="flex-center" id="logo-container">
            <div class="flex-center" id="logo">
                <img src="../img/google.png">
            </div>
        </div>
        <div class="flex-column-center">
            <div id="join"><a href="">회원가입</a></div>
            <div id="find"><a href="">아이디/비밀번호 찾기</a></div>
        </div>
    </div>
</body>
<script>
    $("button").on("click", function () {
        alert("로그인");
    })

    $("img").on("click", function () {
        alert("소셜 로그인");
    })

    $("#join").on("click", function () {
        alert("회원가입 페이지로 이동");
    })

    $("#find").on("click", function () {
        alert("아이디/비밀번호 찾기 페이지로 이동");
    })
</script>

</html>