<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
#btnTime{
	border-radius:3rem;
	background-color:#828282;
	color:#FFFFFF;
	width:10rem;
	height:6rem;
	font-size:2rem;
}

#applyTypeBtn{
	border-radius:3rem;
	background-color:#828282;
	color:#FFFFFF;
	width:10rem;
	height:6rem;
	font-size:2rem;
}

#showBtn{
	border-radius:3rem;
	background-color:#73A772;
	color:#FFFFFF;
	width:15rem;
	height:6rem;
	font-size:2rem;
	position:fixed;
	top:110rem;
	left:23rem;
}


p{
	font-size:3rem;
}

.timeZone{
	white-space:nowrap;
}

#matchingDateBtn{

}



</style>
<body>

<div class = "container">
	<div class = "matchingDate">
	  <ul>
		<li><button id = "matchingDateBtn" class = "btn p-3">27</button></li>
		<button id = "matchingDateBtn" class = "btn p-3">27</button></li>
		<button id = "matchingDateBtn" class = "btn p-3">27</button></li>
		<button id = "matchingDateBtn" class = "btn p-3">27</button></li>
		<button id = "matchingDateBtn" class = "btn p-3">27</button></li>
	  </ul>	
	</div>
	<div class = "applyType mt-4">
		<p>신청 유형</p>
		<button id = "applyTypeBtn" class = "btn m-1 p-2">개인</button>
		<button id = "applyTypeBtn" class = "btn m-1 p-2">팀</button>
	</div>
	<div class = "timeZone mt-5">
		<p>시간</p>
		<button id="btnTime" class = "btn m-2 p-3">08~10</button>
		<button id="btnTime" class = "btn m-2 p-3">10~12</button>
		<button id="btnTime" class = "btn m-2 p-3">12~14</button>
		<button id="btnTime" class = "btn m-2 p-3">14~16</button> <br>
		<button id="btnTime" class = "btn m-2 p-3">16~18</button>
		<button id="btnTime" class = "btn m-2 p-3">18~20</button>
		<button id="btnTime" class = "btn m-2 p-3">20~22</button>
	</div>
	<div>
		<button id = "showBtn">조회</button>
	</div>
</div>

</body>
</html>
