<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my matchings</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/mobile/css/common.css">
    <link rel="stylesheet" href="/mobile/css/my_matchings.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<!-- 모바일 컨테이너 -->
<div id="mobile-container">
    <!-- 헤더 -->
    <header></header>
    <!-- 컨텐츠 컨테이너 -->
    <div id="container" th:data-session="${session.loginUser.userTier}">
        <div class="calendar-container">
            <div class="calendar-header">
                <div class="calendar-nav">
                    <img class="calendar-nav-btn" id="prevBtn" src="/mobile/img/left arrow.svg" alt="이전 달 버튼"></img>
                    <div class="year-month"></div>
                    <img class="calendar-nav-btn" id="nextBtn" src="/mobile/img/right arrow.svg" alt="다음 달 버튼"></img>
                </div>
                <button class="btn-setting" id="my-matching-list-btn">일정 전체보기</button>
            </div>
            <div class="main">
                <div class="calendar-days">
                    <div class="day sun">일</div>
                    <div class="day">월</div>
                    <div class="day">화</div>
                    <div class="day">수</div>
                    <div class="day">목</div>
                    <div class="day">금</div>
                    <div class="day sat">토</div>
                </div>
                <div class="calendar-dates" id="calendarDates"></div>
            </div>
        </div>
        <div id="matchings-wrapper">
        </div>
    </div>
    <!-- 하단 메뉴바 -->
    <nav></nav>
</div>


<!-- 부트스트랩 -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>

<!-- 매칭 취소 모달 -->
<div class="modal" id="cancelMatchingModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                ></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-body-wrapper">
                    <h4 class="modal-title">매칭을 취소하시겠습니까?</h4>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button
                        type="button"
                        class="btn-setting"
                        id="cancelModalBtn"
                        data-bs-toggle="modal"
                        data-bs-dismiss="modal"
                >
                    취소하기
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 취소 완료 모달 -->
<div class="modal" id="cancelSuccessModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <!--                <button-->
                <!--                        type="button"-->
                <!--                        class="btn-close"-->
                <!--                        data-bs-dismiss="modal"-->
                <!--                ></button>-->
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-body-wrapper">
                    <h4 class="modal-title" id="cancelModalText">취소 완료되었습니다.</h4>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button
                        type="button"
                        class="btn-setting"
                        id="cancelSuccessModalBtn"
                        data-bs-toggle="modal"
                        data-bs-dismiss="modal"
                >
                    닫기
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 결제 모달 -->
<div class="modal" id="payMatchingModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                ></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-body-wrapper">
                    <h4 class="modal-title modal-matching-info"></h4>
                    <p class="modal-matching-field"></p>
                    <span>총 금액 </span>
                    <span>10,000원 </span>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button
                        type="button"
                        class="btn-setting"
                        id="payMatchingBtn"
                        data-bs-toggle="modal"
                        data-bs-dismiss="modal"
                >
                    결제하기
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 결제 완료 모달 -->
<div class="modal" id="paymentSuccessModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <!--                <button-->
                <!--                        type="button"-->
                <!--                        class="btn-close"-->
                <!--                        data-bs-dismiss="modal"-->
                <!--                ></button>-->
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-body-wrapper">
                    <h4 class="modal-title" id="paymentModalText">결제 완료되었습니다.</h4>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button
                        type="button"
                        class="btn-setting"
                        id="paymentSuccessModalBtn"
                        data-bs-toggle="modal"
                        data-bs-dismiss="modal"
                >
                    닫기
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 내 점수 확인 모달 -->
<div class="modal" id="scoreModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                ></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-body-wrapper result-modal-body-wrapper">
                    <div class="result-modal-wrapper">
                        <div>
                            <h4 class="modal-title modal-matching-info">경기 결과 점수</h4>
                            <p class="modal-matching-field" id="resultScore"></p>
                        </div>
                        <div>
                            <h4 class="modal-title modal-matching-info">상대팀 평가 점수</h4>
                            <p class="modal-matching-field" id="reviewScore"></p>
                        </div>
                        <div>
                            <h4 class="modal-title modal-matching-info">총점</h4>
                            <p class="modal-matching-field" id="totalScore"></p>
                        </div>
                    </div>
                    <span class="result-modal-span">경기 결과에 따른 점수가 반영된 등급은 <br>익일 업데이트 됩니다.</span>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- 매칭중 - 매칭 리스트 확인 모달 -->
<div class="modal" id="matchingListModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                ></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-body-wrapper">
                    <div class="matching-lists-wrapper">
                        <div class="matching-lists">
                            <h4 class="modal-title modal-matching-info"></h4>
                            <div class="matching-list-info-wrapper">
                                <div class="matching-list-info">
                                    <span class="matching-list-date-info">2024-07-22</span>
                                    <span class="matching-list-time-info">&nbsp;10:00 - 12:00</span>
                                </div>
                                <span class="matching-list-field-info">더피치 영등포점</span>
                            </div>
                            <button class="modal-matching-field btn-setting matching-cancel">매칭 취소</button>
                        </div>
                        <div class="matching-lists">
                            <h4 class="modal-title modal-matching-info"></h4>
                            <div class="matching-list-info-wrapper">
                                <div class="matching-list-info">
                                    <span class="matching-list-date-info">2024-07-22</span>
                                    <span class="matching-list-time-info">&nbsp;10:00 - 12:00</span>
                                </div>
                                <span class="matching-list-field-info">더피치 영등포점</span>
                            </div>
                            <button class="modal-matching-field btn-setting matching-cancel">매칭 취소</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
    // header, nav 내용 불러오기
    $(document).ready(function () {
        console.log($("#container").data("session"))
        $('header').load('/common/header.html', function () {
            $('#page-name').text('일정표');
            $('#user-tier').text($("#container").data("session")); // 나중에 세션에서 usertier 구해서 넣기
        });
        $('nav').load('/common/nav.html');
    });
</script>
<script src="/mobile/js/calendar.js"></script>
</body>
</html>