<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="mobile/css/common.css">
    <link rel="stylesheet" href="mobile/css/mypage/edit-info.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <!-- 모바일 컨테이너 -->
    <div id="mobile-container">
        <!-- 헤더 -->
        <header></header>
         <!-- 컨텐츠 컨테이너 -->
        <div id="container">
            <div id="editinfo-wrapper">
                <div class="edit-content-wrapper">
                    <span>이름</span>
                    <input class="edit-input" id="edit-name" value="김박박"/>
                </div>
                <div class="edit-content-wrapper">
                    <span>아이디</span>
                    <span class="non-edit" id="id">bakbakkim</span>
                </div>
                <div class="edit-content-wrapper">
                    <span>닉네임</span>
                    <input class="edit-input" id="edit-nickname" value="bakxoon"/>
                </div>
                <div class="edit-content-wrapper">
                    <span>생년월일</span>
                    <span class="non-edit" id="birth">2001.06.30</span>
                </div>
                <div class="edit-content-wrapper">
                    <span>이메일</span>
                    <input class="edit-input" id="edit-email" value="bakxoon@gmail.com"/>
                </div>
                <div class="edit-content-wrapper">
                    <span>전화번호</span>
                    <input class="edit-input" id="edit-phone" value="010-9452-8484"/>
                </div>
                <div id="btn-wrapper">
                    <div>
                        <button id="edit-pw-btn" class="btn">비밀번호 수정</button>
                        <button id="withdraw-btn" class="btn"
                        data-bs-toggle="modal"
                        data-bs-target="#withdrawModal-1">회원 탈퇴</button>
                    </div>
                    <button id="my-info-edit-btn" class="btn">수정하기</button>
                </div>
            </div>
        </div>
        <!-- 하단 메뉴바 -->
         <nav></nav>
    </div>


    <!-- 부트스트랩 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- 탈퇴 모달 1 -->
    <div class="modal" id="withdrawModal-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>
  
            <!-- Modal body -->
            <div class="modal-body">
              <div class="modal-body-wrapper">
                <h4 class="modal-title">정말로 탈퇴하시겠습니까?</h4>
                <span>탈퇴 시 정보가 모두 삭제되어 <br/>더 이상 확인할 수 없습니다. </span>
              </div>
            </div>
  
            <!-- Modal footer -->
            <div class="modal-footer">
              <button
                type="button"
                class="btn"
                id="withdrawModal-btn"
                data-bs-toggle="modal"
                data-bs-dismiss="modal"
                data-bs-target="#withdrawModal-3"
              >
                탈퇴하기
              </button>
            </div>
          </div>
        </div>
      </div>

    <!-- 탈퇴 불가 모달 -->
    <div class="modal" id="withdrawModal-2">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>
  
            <!-- Modal body -->
            <div class="modal-body">
              <div class="modal-body-wrapper">
                <span>매칭이 잡혀있거나, 팀에 소속되어 있을 경우 회원 탈퇴가 불가능합니다.</span>
                <span>위 사항을 모두 확인하신 후 다시 시도하시기 바랍니다.</span>
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

          <!-- 탈퇴 완료 모달 -->
    <div class="modal" id="withdrawModal-3">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>
  
            <!-- Modal body -->
            <div class="modal-body">
              <div class="modal-body-wrapper">
                <span>탈퇴 완료되었습니다. </span>
              </div>
            </div>

            <div class="modal-footer">
              </div>
          </div>
        </div>
      </div>
  

    
    <script>
    // header, nav 내용 불러오기
    $(document).ready(function(){
        $('header').load('common/header_mypage_back.html', function(){
            $('#page-name').text('내 정보 수정');
        });
        $('nav').load('common/nav.html');
    });
	
	//이름 유효성 검사
	

	//닉네임 중복 검사

    </script>
    <script src="mobile/js/mypage.js"></script>
</body>
</html>