<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인 순위</title>
    <link rel="stylesheet" href="/mobile/css/common.css">
    <link rel="stylesheet" href="/mobile/css/ranking.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <!-- 모바일 컨테이너 -->
    <div id="mobile-container">
        <!-- 헤더 -->
        <header></header>
         <!-- 컨텐츠 컨테이너 -->
        <div id="container">
            <div id="title-container">
                <div>TOP 100</div>
            </div>
            <div class="content-container" id="first-rank-content-container">
                <div class="first-content-container" th:if="${getTopOneUser != null}">
                    <div class="ranking" th:text="${getTopOneUser.userRank} + '위'">1위</div>
                    <div class="name">
                        <div class="nickname" th:text="${getTopOneUser.nickname}">풋살킹</div>
                        <div class="teamname" th:text="${getTopOneUser.teamName}">슛돌이</div>
                    </div>
                </div>
                <div class="first-content-container" th:if="${getTopOneUser == null}">
                    <div class="ranking" >-</div>
                    <div class="name">
                        <div class="nickname">-</div>
                        <div class="teamname" >-</div>
                    </div>
                </div>
                <div class="second-content-container" th:if="${getTopOneUser != null}">
                    <div class="tier first-rank" th:text="${getTopOneUser.userTier}">A</div>
                    <div class="score first-rank" th:text="${getTopOneUser.userScore} + '점'">1205점</div>
                </div>
                <div class="second-content-container" th:if="${getTopOneUser == null}">
                    <div class="tier first-rank" >-</div>
                    <div class="score first-rank" >-</div>
                </div>
            </div>
             <div class="content-container" th:each="i : ${getTopHundredUsersList}">
                <div class="first-content-container" th:if="${getTopHundredUsersList != null}">
                    <div class="ranking" th:text="${i.userRank} + '위'">1위</div>
                    <div class="name">
                        <div class="nickname" th:text="${i.nickname}">풋살킹</div>
                        <div class="teamname" th:text="${i.teamName}">슛돌이</div>
                    </div>
                </div>
                <div class="second-content-container" th:if="${getTopHundredUsersList != null}">
                    <div class="tier" th:text="${i.userTier}">A</div>
                    <div class="score" th:text="${i.userScore} + '점'">1205점</div>
                </div>
            </div>
         
        </div>
    </div>
    
    <script>
    	var userTier = "[[${session.loginUser.getUserTier}]]";
    
    // header, nav 내용 불러오기
    $(document).ready(function(){
        $('header').load('./common/header_back.html', function(){ // 뒤로가기 필요한 페이지는 header_back, 아닌 페이지는 header 사용해주세욤
            $('#page-name').text('개인 순위'); // 해당 페이지 이름 넣어주세욤 ex) 마이페이지
            $('#user-tier').text(userTier); // 나중에 세션에서 usertier 구해서 넣기
        });
    });
    </script>
</body>
</html>