<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mobile/css/common.css">
    <link rel="stylesheet" href="mobile/css/createTeam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <!-- 모바일 컨테이너 -->
    <div id="mobile-container">
        <!-- 헤더 -->
        <header></header>
        <!-- 컨텐츠 컨테이너 -->
        <div id="container">
            <div id="team-name-container">
                <div>팀명 : </div>
                <input th:if="${team.teamName} != null" id="team-name" type="text" th:value="${team.teamName}" disabled />
                <input th:if="${team.teamName} == null" id="team-name" type="text" />
            </div>
            <div class="box-container">
                <div>등급</div>
                <div id="tier-container">
                    <input type="checkbox" id="A-tier" value="A" name="tier"><label for="A-tier">A등급</label>
                    <input type="checkbox" id="B-tier" value="B" name="tier"><label for="B-tier">B등급</label>
                    <input type="checkbox" id="C-tier" value="C" name="tier"><label for="C-tier">C등급</label>
                    <input type="checkbox" id="D-tier" value="D" name="tier"><label for="D-tier">D등급</label>
                </div>
            </div>
            <div class="box-container">
                <div>지역</div>
                <div id="location-list">
                    <div class="location-line">
                        <input type="radio" id="서울" value="서울" name="location"><label for="서울">서울</label>
                        <input type="radio" id="경기" value="경기" name="location"><label for="경기">경기</label>
                        <input type="radio" id="인천" value="인천" name="location"><label for="인천">인천</label>
                        <input type="radio" id="부산" value="부산" name="location"><label for="부산">부산</label>
                        <input type="radio" id="대전" value="대전" name="location"><label for="대전">대전</label>
                    </div>
                    <div class="location-line">
                        <input type="radio" id="대구" value="대구" name="location"><label for="대구">대구</label>
                        <input type="radio" id="울산" value="울산" name="location"><label for="울산">울산</label>
                        <input type="radio" id="세종" value="세종" name="location"><label for="세종">세종</label>
                        <input type="radio" id="광주" value="광주" name="location"><label for="광주">광주</label>
                        <input type="radio" id="강원" value="강원" name="location"><label for="강원">강원</label>
                    </div>
                    <div class="location-line">
                        <input type="radio" id="충북" value="충북" name="location"><label for="충북">충북</label>
                        <input type="radio" id="충남" value="충남" name="location"><label for="충남">충남</label>
                        <input type="radio" id="경북" value="경북" name="location"><label for="경북">경북</label>
                        <input type="radio" id="경남" value="경남" name="location"><label for="경남">경남</label>
                        <input type="radio" id="제주" value="제주" name="location"><label for="제주">제주</label>
                    </div>
                </div>
                <hr>
                <div id="gu-list">
                </div>
            </div>
            <div class="box-container">
                <div>시간</div>
                <div id="time-container">
                    <div id="week-container">
                        <div>
                            <input type="radio" id="주중" value="주중" name="week"><label for="주중">주중</label>
                        </div>
                        <div>
                            <input type="radio" id="주말" value="주말" name="week"><label for="주말">주말</label>
                        </div>
                    </div>
                    <div id="one-week-container">
                        <div>주</div>
                        <select name="count">
                            <option value="1">1회</option>
                            <option value="2">2회</option>
                            <option value="3">3회</option>
                            <option value="4">4회</option>
                            <option value="5">5회</option>
                            <option value="6">6회</option>
                            <option value="7">7회</option>
                        </select>
                    </div>
                    <div id="time-detail-container">
                        <select name="start-time">
                            <option value="8">8시</option>
                            <option value="10">10시</option>
                            <option value="12">12시</option>
                            <option value="14">14시</option>
                            <option value="16">16시</option>
                            <option value="18">18시</option>
                            <option value="20">20시</option>
                        </select>
                        <div>~</div>
                        <select name="end-time">
                            <option value="10">10시</option>
                            <option value="12">12시</option>
                            <option value="14">14시</option>
                            <option value="16">16시</option>
                            <option value="18">18시</option>
                            <option value="20">20시</option>
                            <option value="22">22시</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="box-container">
                <div>소개글</div>
                <textarea id="content" th:text="${team.content}"></textarea>
            </div>
            <div id="button-container">
                <button th:if="${team.teamName} == null" type="button" id="addBtn">팀 생성</button>
                <button th:if="${team.teamName} != null" type="button" id="modBtn">추가 모집하기</button>
            </div>
        </div>
        <!-- 하단 메뉴바 -->
        <nav></nav>
    </div>

    <script>
        // header, nav 내용 불러오기
        $(document).ready(function () {
            $('header').load('./common/header_back.html', function () { // 뒤로가기 필요한 페이지는 header_back, 아닌 페이지는 header 사용해주세욤
                $('#page-name').text('팀 생성'); // 해당 페이지 이름 넣어주세욤 ex) 마이페이지
                $('#user-tier').text('A'); // 나중에 세션에서 usertier 구해서 넣기
            });
            $('nav').load('./common/nav.html');
        });
        
        function checkInput(){
        
        }

		//팀 모집하기 버튼
		$('#modBtn').on('click',function(){
            var tier_arr = [];

            $("input[name=tier]:checked").each(function () {
                var tier = $(this).val();
                tier_arr.push(tier);
            });
            
            // A,C  / B,C
            var res_tier = [false, false, false, false];
            for(i=0; i<tier_arr.length; i++){
            	switch(tier_arr[i]){
            	case "A": res_tier[0] = true; break;
            	case "B": res_tier[1] = true; break;
            	case "C": res_tier[2] = true; break;
            	case "D": res_tier[3] = true; break;
            	}
            }
            
            if(tier_arr.length == 4){
                tier_arr.push("제한없음");
            }

            var location = $("input[name=location]:checked").val();
            var gu_arr = [];

            $("input[name=gu]:checked").each(function () {
                var gu = $(this).val();
                gu_arr.push(gu);
            });

            if (location == null) {
                alert("지역을 선택해주세요!");
                return;
            }

            if (gu_arr.length == 0) {
                alert("구를 선택해주세요!");
                return;
            }

            var week = $("input[name=week]:checked").val();

            if(week == null){
                alert("주중, 주말 중 하나를 선택하세요!");
                return;
            }

            var count = $("select[name=count]").val();
            count = "주 "+count+"회";

            var startTime = Number($("select[name=start-time]").val());
            var endTime = Number($("select[name=end-time]").val());
            
            if(startTime >= endTime){
                alert("시간을 다시 선택하세요!");
                return;
            }

            var content = $("#content").val();
            
            if(content == ""){
                alert("소개글을 입력하세요!");
                retrun;
            }

			var hometown = location + " " + gu_arr;
			var hopeTime = startTime+"시~"+endTime+"시";
			
			fetch("/team/recruitmentTrue",{
	   	 		method: 'PUT',
	   	 		headers: {
	   	 			"Content-Type" : "application/json",
	   	 		},
	   	 		body: JSON.stringify({
		   	 		content: content,
		   	 		hometown: hometown,
		   	 		weekType: week,
		   	 		weekTime: count,
		   	 		hopeTime: hopeTime,
		   	 		possA: res_tier[0],
		   	 		possB: res_tier[1],
		   	 		possC: res_tier[2],
		   	 		possD: res_tier[3]		   	 				   	 		
	   	 		})
	   	 	})
	   	 	.then(response =>response.json())
	   	 	.then(data =>{
	   	 		console.log(data.result);
	   	 		if(data.result){
	   	 			window.location.href = '/teamRank';
	   	 		}
	   	 	})
			
		})
		
		//팀 생성 버튼
        $("#addBtn").on("click", function(){
            var teamName = $("#team-name").val();
            if(teamName == ""){
                alert("팀 명을 입력해주세요!");
                return;
            }

            var tier_arr = [];

            $("input[name=tier]:checked").each(function () {
                var tier = $(this).val();
                tier_arr.push(tier);
            });
            
            // A,C  / B,C
            var res_tier = [false, false, false, false];
            for(i=0; i<tier_arr.length; i++){
            	switch(tier_arr[i]){
            	case "A": res_tier[0] = true; break;
            	case "B": res_tier[1] = true; break;
            	case "C": res_tier[2] = true; break;
            	case "D": res_tier[3] = true; break;
            	}
            }
            
            if(tier_arr.length == 4){
                tier_arr.push("제한없음");
            }

            var location = $("input[name=location]:checked").val();
            var gu_arr = [];

            $("input[name=gu]:checked").each(function () {
                var gu = $(this).val();
                gu_arr.push(gu);
            });

            if (location == null) {
                alert("지역을 선택해주세요!");
                return;
            }

            if (gu_arr.length == 0) {
                alert("구를 선택해주세요!");
                return;
            }

            var week = $("input[name=week]:checked").val();

            if(week == null){
                alert("주중, 주말 중 하나를 선택하세요!");
                return;
            }

            var count = $("select[name=count]").val();
            count = "주 "+count+"회";

            var startTime = Number($("select[name=start-time]").val());
            var endTime = Number($("select[name=end-time]").val());
            
            if(startTime >= endTime){
                alert("시간을 다시 선택하세요!");
                return;
            }

            var content = $("#content").val();
            
            if(content == ""){
                alert("소개글을 입력하세요!");
                retrun;
            }
			var hometown = location + " " + gu_arr;
			var hopeTime = startTime+"시~"+endTime+"시";
 
			 fetch("/team/createTeam",{
	   	 		method: 'post',
	   	 		headers: {
	   	 			"Content-Type" : "application/json",
	   	 		},
	   	 		body: JSON.stringify({
		   	 		teamName: teamName,
		   	 		content: content,
		   	 		hometown: hometown,
		   	 		weekType: week,
		   	 		weekTime: count,
		   	 		hopeTime: hopeTime,
		   	 		possA: res_tier[0],
		   	 		possB: res_tier[1],
		   	 		possC: res_tier[2],
		   	 		possD: res_tier[3]		   	 				   	 		
	   	 		})
	   	 	})
	   	 	.then(response =>response.json())
	   	 	.then(data =>{
	   	 		console.log(data.result);
	   	 		if(data.result){
	   	 			window.location.href = '/teamRank';
	   	 		}
	   	 	})
	   	 	
        })
        
        
        $("input[name=week]").on("click", function () {
            if ($(this).val() == "주중") {
                $("select[name=count]").html(
                    `<option value="1">1회</option>
                    <option value="2">2회</option>
                    <option value="3">3회</option>
                    <option value="4">4회</option>`
                )
            }
            else if($(this).val() == "주말"){
                $("select[name=count]").html(
                    `<option value="1">1회</option>
                    <option value="2">2회</option>
                    <option value="3">3회</option>`
                )
            }
        })
        
        
        $("input[name=location]").on("click", function () {
            if ($(this).val() == "서울") {
                $("#gu-list").html(
                    `<div class="gu-line">
                        <input type="checkbox" id="강남구" value="강남구" name="gu"><label for="강남구">강남구</label>
                        <input type="checkbox" id="강동구" value="강동구" name="gu"><label for="강동구">강동구</label>
                        <input type="checkbox" id="강북구" value="강북구" name="gu"><label for="강북구">강북구</label>
                        <input type="checkbox" id="강서구" value="강서구" name="gu"><label for="강서구">강서구</label>
                    </div>
                    <div class="gu-line">
                        <input type="checkbox" id="관악구" value="관악구" name="gu"><label for="관악구">관악구</label>
                        <input type="checkbox" id="광진구" value="광진구" name="gu"><label for="광진구">광진구</label>
                        <input type="checkbox" id="구로구" value="구로구" name="gu"><label for="구로구">구로구</label>
                        <input type="checkbox" id="금천구" value="금천구" name="gu"><label for="금천구">금천구</label>
                    </div>
                    <div class="gu-line">
                        <input type="checkbox" id="노원구" value="노원구" name="gu"><label for="노원구">노원구</label>
                        <input type="checkbox" id="도봉구" value="도봉구" name="gu"><label for="도봉구">도봉구</label>
                        <input type="checkbox" id="동대문구" value="동대문구" name="gu"><label for="동대문구">동대문구</label>
                        <input type="checkbox" id="동작구" value="동작구" name="gu"><label for="동작구">동작구</label>
                    </div>`
                )
            }
            else if ($(this).val() == "인천") {
                $("#gu-list").html(
                    `<div class="gu-line">
                        <input type="checkbox" id="계양구" value="계양구" name="gu"><label for="계양구">계양구</label>
                        <input type="checkbox" id="남구" value="남구" name="gu"><label for="남구">남구</label>
                        <input type="checkbox" id="남동구" value="남동구" name="gu"><label for="남동구">남동구</label>
                        <input type="checkbox" id="동구" value="동구" name="gu"><label for="동구">동구</label>
                    </div>
                    <div class="gu-line">
                        <input type="checkbox" id="부평구" value="부평구" name="gu"><label for="부평구">부평구</label>
                        <input type="checkbox" id="서구" value="서구" name="gu"><label for="서구">서구</label>
                        <input type="checkbox" id="연수구" value="연수구" name="gu"><label for="연수구">연수구</label>
                        <input type="checkbox" id="중구" value="중구" name="gu"><label for="중구">중구</label>
                    </div>
                    <div class="gu-line">
                        <input type="checkbox" id="강화군" value="강화군" name="gu"><label for="강화군">강화군</label>
                        <input type="checkbox" id="옹진군" value="옹진군" name="gu"><label for="옹진군">옹진군</label>
                    </div>`
                )
            }
            else if ($(this).val() == "경기") {
                $("#gu-list").html(
                    `<div class="gu-line">
                        <input type="checkbox" id="고양시" value="고양시" name="gu"><label for="고양시">고양시</label>
                        <input type="checkbox" id="과천시" value="과천시" name="gu"><label for="과천시">과천시</label>
                        <input type="checkbox" id="광명시" value="광명시" name="gu"><label for="광명시">광명시</label>
                        <input type="checkbox" id="광주시" value="광주시" name="gu"><label for="광주시">광주시</label>
                    </div>
                    <div class="gu-line">
                        <input type="checkbox" id="구리시" value="구리시" name="gu"><label for="구리시">구리시</label>
                        <input type="checkbox" id="군포시" value="군포시" name="gu"><label for="군포시">군포시</label>
                        <input type="checkbox" id="김포시" value="김포시" name="gu"><label for="김포시">김포시</label>
                        <input type="checkbox" id="남양주시" value="남양주시" name="gu"><label for="남양주시">남양주시</label>
                    </div>
                    <div class="gu-line">
                        <input type="checkbox" id="동두천시" value="동두천시" name="gu"><label for="동두천시">동두천시</label>
                        <input type="checkbox" id="부천시" value="부천시" name="gu"><label for="부천시">부천시</label>
                        <input type="checkbox" id="성남시" value="성남시" name="gu"><label for="성남시">성남시</label>
                        <input type="checkbox" id="수원시" value="수원시" name="gu"><label for="수원시">수원시</label>
                    </div>`
                )
            }
            else {
                $("#gu-list").html(
                    ``
                )
            }
        })
    </script>
</body>

</html>