#modal-back{
	display: none;
	position: absolute;
	top: 5rem;
	right: 1rem;
	background-color: #FFFFFF;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    border-color: #969696;
    border-style: solid;
    width: 20%;
    text-align: center;
}
#top-location{
	display: inline-block;
	margin-right:0;
}
#close{
	position: relative;
	right: 1rem;
}

#submit{
	background-color: #73A772;
    border-radius: 1rem;
    border-color: #FFFFFF;
    color: #FFFFFF;
    border-style: solid;
}




