#play-container {
  display: flex;
  justify-content: center;
  gap: 1.56rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.play {
  background: linear-gradient(180deg, #8AD089 0%, #637BB9 100%);
  border-radius: 20px;
  padding-top: 2rem;
  padding-left: 1.25rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

#fast {
  background: linear-gradient(180deg, #90E2CF 0%, #637BB9 100%);
}

.title-play {
  font-weight: 800;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 0.7rem;
}

.content-play {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  padding-right: 1.3rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.info-title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
}

.all-see-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.all-see {
  display: inline-block;
  font-size: 0.75rem;
}

#info-schedule {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  padding: 1rem;
  gap: 0.5rem;
  flex-direction: column;
}

#matching-state {
  padding: 0.3rem 0.6rem;
  font-size: 0.75rem;
  background: #73A772;
  border-radius: 20px;
  color: #FFFFFF;
  width: 2.9rem;
}

#time {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 17px;
}

#location {
  font-size: 0.875rem;
}

#info-rank {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

#middle-rank {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #D1D1D1;
  border-right: 1px solid #D1D1D1;
  padding: 0 2rem;
  gap: 0.5rem;
}

#first-rank {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  gap: 0.5rem;
}

#last-rank {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  gap: 0.5rem;
}

#first-rank :nth-child(1),
#middle-rank :nth-child(1),
#last-rank :nth-child(1) {
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#first-rank :nth-child(2),
#middle-rank :nth-child(2),
#last-rank :nth-child(2) {
  font-size: 0.875rem;
}

#first-rank :nth-child(3),
#middle-rank :nth-child(3),
#last-rank :nth-child(3) {
  font-size: 0.75rem;
}

#info-rank img {
  width: 0.5rem;
  height: 0.5rem;
}

#field-info {
  display: flex;
  padding: 0.3rem 0.1rem;
  justify-content: space-evenly;
  border: 1px solid #DBDBDB;
  border-radius: 30px;
  text-align: center;
  width: 60%;
  align-items: center;
}

#ball-container {
  background: #EEEEEE;
  border-radius: 50%;
  display: flex;
}

#field-info-container {
  display: flex;
  justify-content: center;
}

#container {
  justify-content: center;
  align-items: normal;
  padding-top: 3.3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0;
  gap: 1rem;
}

#container > img{
	height: 9rem;
	border: 1px solid #DBDBDB;
  	border-radius: 10px;
}
