#container {
    /* padding: 3.3rem 1rem; */
    /* justify-content: center; */
}


/* 버튼 공통 */
.btn-setting {
    border-radius: 20px;
    border-color: transparent;
    height: 1.8rem;
}


/* ********** 캘린더 ********* */
.calendar-container {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 95%;
    margin: 0.5rem 0;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 0.5rem;
}

.calendar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.year-month {
    font-size: 1.1rem;
}

.calendar-nav-btn {
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
}

#my-matching-list-btn {
    color: #333333;
    background: #EBEBEB;
    font-size: 0.9rem;
    margin-left: auto;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 0.3rem;
}

.day {
    text-align: center;
}

.sun {
    color: #FF7D7D;
}

.sat {
    color: #7684FF;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

.date-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 2rem;
}

.date-wrapper > div {
    min-height: 0.4rem;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    width: 2rem;
    height: 2rem;
    margin: 0.2rem 0;
}

.click-date {
    background: #DEDEDE;
    color: #333333;
    border-radius: 50%;
    border-width: 0.1rem;
    /* border-top: 0.1rem; */
    box-sizing: border-box;
}


.today {
    background: #555555;
    color: #ffffff;
    border-radius: 50%;
    border-width: 0.1rem;
    /* border-top: 0.1rem; */
    box-sizing: border-box;
}

.cal-matching-status-1 {
    width: 0.4rem;
    height: 0.4rem;

    background: #D0D0D0;
    border-radius: 100px;
}

.cal-matching-status-2 {
    width: 0.4rem;
    height: 0.4rem;

    background: #EF8665;
    border-radius: 100px;
}

.cal-matching-status-3 {
    width: 0.4rem;
    height: 0.4rem;

    background: #80D87E;
    border-radius: 100px;
}


/* .date:hover {
  background-color: #f5f5f5;
} */


/* ********매칭 정보 ******** */

#matchings-wrapper {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    /* max-height: calc(100vh - 20rem);
    flex-grow: 1;
    overflow-x :auto */
}

.matching-wrapper {
    width: 90%;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1.5px solid #DBDBDB;
    border-radius: 10px;
    padding: 0.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.matching-content-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    align-items: flex-start;
}

.matching-status {
    border-radius: 20px;
    border-color: transparent;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
}

.team{
    font-weight: 400;
    border-radius: 14px;
    border-color: transparent;
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
    color: #ffffff;
    background: #545454;
}

.a-team{
    font-weight: 700;
    border-radius: 14px;
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
    color: #ffffff;
    background-color: #545454;
}

.b-team{
    font-weight: 700;
    border-radius: 14px;
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
    color: #696969;
    border: 1.6px solid #bbbbbb;
}

.status-1 {
    background: #EF8665;
}

.status-2{
    background: #73A772;
}

.status-3{
    background: #969696;
}

.matching-info,
.matching-field-info,
.matching-list-field-info,
.pay-info,
.team-info{
    padding-left: 0.5rem;
    text-align: center;
}

.matching-lists-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.matching-list-info{
    padding-left: 0.5rem;
    text-align: center;
}

.matching-lists{
    display: flex;
    flex-direction: column;
}

.matching-cancel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.matching-list-info-wrapper{
    padding-left: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.matching-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    column-gap: 0.5rem;
}

.cancel-matching-btn {

}

.matching-info {
    font-weight: 700;
}

.fast-matching-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    padding-left: 0.3rem;
}

.fast-matching-wrapper > div > span,
.pay-info{
    font-size: 0.9rem;
    color: #818181;
}

#matchingTotalNumInfo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 1rem;
    justify-content: flex-start
}

#matchingTotalNumInfo > p{
    font-size: 1.1rem;
    font-weight: 700;
}


/* 부트스트랩 속성 변경 */

.modal-header {
    border-bottom: none;
    padding: 1.3rem 1.3rem;
}

.modal-footer {
    justify-content: center;
    border-top: none;
    padding: 0 1.3rem 1.3rem 1.3rem;
}

.btn-close {
    width: 0.1rem;
    height: 0.1rem;
    background-size: 0.8rem;
}

.modal-dialog-centered {
    justify-content: center;
}

.modal-content {
    width: 90%;
    border-radius: 1rem;
}

/* 공통 */

.modal-title {
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
}