#container {
    padding: 4.3rem 2rem;
}

#content-header {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#filter-container {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #A5A5A5;
    border-radius: 10px;
    padding: 0.3rem 0.625rem;
    gap: 0.375rem;
}

#search-container {
    display: flex;
    background: #F8FAFB;
    border-radius: 20px;
    padding-left: 1rem;
    padding-right: 0.5rem;
    align-items: center;
    width: 50%;
}

input {
    border: none;
    background: #F8FAFB;
    width: 100%;
}

#list-container {
    display: flex;
    padding-top: 1.7rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.content-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content-text {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.content-title {
    font-weight: 600;
    font-size: 0.875rem;
}

.content-address {
    font-size: 0.75rem;
}

.content-info {
    font-size: 0.625rem;
}

.line-bottom {
    background: #F8FAFB;
    width: 100%;
    height: 0.25rem;
}

#modal-location {
    display: none;
    top: 13rem;
    position: fixed;
    background-color: #FFFFFF;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    border-color: #969696;
    border-style: solid;
    padding-top: 2rem;
    width: 60%;
}

#top-location {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
    font-weight: 600;
}

#location-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.375rem;
}

.location-line {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.location-line input[type=radio] {
    display: none;
}

.location-line input[type=radio]+label {
    font-size: 0.625rem;
    border: 0.5px solid #828282;
    border-radius: 20px;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

.location-line input[type=radio]+label {
    background-color: #fff;
}

.location-line input[type=radio]:checked+label {
    background-color: #73A772;
    color: #fff;
}

#gu-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.375rem;
    justify-content: space-evenly;
}

.gu-line {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.gu-line input[type=checkbox] {
    display: none;
}

.gu-line input[type=checkbox]+label {
    font-size: 0.625rem;
    border: 0.5px solid #828282;
    border-radius: 20px;
    padding: 0.2rem 0.625rem;
    cursor: pointer;
}

.gu-line input[type=checkbox]+label {
    background-color: #fff;
}

.gu-line input[type=checkbox]:checked+label {
    background-color: #73A772;
    color: #fff;
}

#submit {
    font-size: 0.625rem;
    color: #FFFFFF;
    background: #73A772;
    border-radius: 20px;
    padding: 0.1rem 0.375rem;
    margin-top: 1.875rem;
    margin-bottom: 1rem;
}

input:focus {
    outline: none;
}

#submit-container {
    display: flex;
    justify-content: center;
}