html {
    font-size: 10px;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-size: 1.3rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    margin-bottom: 0.9rem;
}
#text-id{
    margin-right: 19rem;
}

#text-pw{
    margin-right: 18rem;
}

#container {
    width: 100%;
    height: 100%;
}

hr {
    display: inline-block;
    width: 8.8rem;
    margin-left: 0px;
    margin-right: 0px;
}

#logo {
    width: 3.6rem;
    height: 3.6rem;
    background-color: #F8FAFB;
    border-radius: 50%;
}

img {
    width: 3.2rem;
    height: 3.2rem;
}

a {
    font-size: 1.2rem;

    color: #808080;
}

input{
    width: 22.7rem;
    height: 2.4rem;
    margin-bottom: 2rem;
    background-color: #F8FAFB;
    border-radius: 0.5rem;
    border-color: #FFFFFF;
    border-style: solid;
}

button{
    width: 24rem;
    height: 3.5rem;
    margin-bottom: 2rem;
    background-color: #73A772;
    border-radius: 0.5rem;
    border-color: #FFFFFF;
    color: #FFFFFF;
    border-style: solid;
}

#or{
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}

#or-container{
    margin-bottom: 2rem;
}

#logo-container{
    margin-bottom: 2.3rem;
}

#join{
    margin-bottom: 0.6rem;
}